<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conservas Antonio: index</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <img class="banner" src="/static/img/banner.png">
    <p>{{ message }}</p>
    <form action="/login" method="post">
        <p><label>Usuari: <input type="email" size="40" placeholder="email" name="email" required></label>
        <p><label>Clau: <input type="password" size="40" placeholder="password" name="password" required></label>
        <p><input type="submit" value="Login">
    </form>
    <p>Usuari és joe@gmail.com i clau és joe123</p>
</body>
</html>