<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conservas Antonio: home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <img class="banner" src="/static/img/banner.png">
    <p>Benvingut {{ user }}!</p>
    <p><a href="/logout">Logout</a></p>
    <img src="/static/img/foto-familia.jpg">
</body>
</html>