<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/static/css/style.css' rel='stylesheet'>
    <title>XSLT</title>
</head>

<body>
    <!-- https://stackoverflow.com/a/325334 -->
    <div class="row-container">
        <div class="first-row">
            <h1>La Vanguardia</h1>
            <p><a href="/lavanguardia/cultura" target="contingut">Cultura</a></p>
            <p><a href="/lavanguardia/local/barcelona" target="contingut">Barcelona</a></p>
        </div>
        <iframe name="contingut" src="/static/img/gat.jpg" class="second-row"></iframe>
    </div>
</body>

</html>