<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/static/css/style.css' rel='stylesheet'>
    <title>Dades dels formulari POST</title>
</head>
<body>
    <h1>Dades rebudes del formulari POST</h1>
    <ul>
        <li>Ciutat preferida: {{ciutat}}</li>
        <li>Has visitat la ciutat més d'una vegada? {{multiples_visites}}</li>
        <li>Tornaries a visitar la ciutat? {{tornaria}}</li>
        <li>Comentaris: <code>{{comentaris}}</code></li>

    </ul>
    <p><a href="/">&lt;&lt; Torna als formularis</a></p>
</body>
</html>